<!-- SLIDE CONTENT -->
<div class="content animated fadeIn">
	
	<div class="blank_target animation-container" style="top: 260px; left: 60px; width: 450px; height: 400px;">
		
		<div class="popup-animated-piece piece-1" data-animate_prop="width" data-animate_from="left"></div>
	
		<div class="popup-animated-piece piece-2" data-animate_prop="width" data-animate_from="left"></div>
		
		<div class="popup-animated-piece piece-3" data-animate_prop="height" data-animate_from="top"></div>
		
		<div class="popup-animated-piece piece-4 reset-animation" data-animate_prop="opacity"></div>
		
	</div>
	
</div>
<!-- END SLIDE CONTENT -->