<!-- SLIDE CONTENT -->
<div class="content animated fadeIn">

<br/><br/>

<div class="row">
<div class="col-xs-1 nopadding">
	<div class="chartPrev"><i class="fa fa-chevron-left"></i></div>
</div>
<div class="col-xs-10">
	<ul class="nav nav-pills tabby" id="tabby-1">
		<li><a data-target="#chart1">Chart 1</a></li>
		<li><a data-target="#chart2">Chart 2</a></li>
		<li><a data-target="#chart3">Chart 3</a></li>
		<li><a data-target="#chart4">Chart 4</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane" id="chart1">
			<h2>Sample Line Chart</h2>
			<div class="text-center">
				<div id="canvas-1" class="canvas line"></div>
			</div>
			<br/><br/>
			<p><em>Amet cum tortor sed placerat nascetur proin elit ut in! Hac pellentesque tincidunt, ac odio habitasse porttitor augue.</em></p>
			<h6 class="text-muted">Adapted from <span class="text-link openPDF" data-resource="Example_Study_1.pdf">Link to a PDF.</span></h6>
		
		</div>
		<div class="tab-pane" id="chart2">
			<h2>Sample Pie Chart</h2>
			<div class="text-center">
				<div id="canvas-2" class="canvas pie"></div>
			</div>
			<br/><br/>
					<p><em>Purus, pulvinar rhoncus. Cras cras, nascetur scelerisque mus cursus! Ut dignissim scelerisque aliquet nunc vut!</em></p>
					<h6 class="text-muted">Adapted from <span class="text-link openPDF" data-resource="resource-1.pdf">Link to a PDF.</span></h6>
			
		</div>
		<div class="tab-pane" id="chart3">
			<h2>Sample Bar Chart</h2>
			<div class="text-center">
				<div id="canvas-3" class="canvas bar"></div>
			</div>
			<br/><br/>
					<p><em>Sociis tincidunt, tincidunt porttitor? Magnis elit, tincidunt cras? Nunc integer in diam arcu integer sit porta egestas, et.</em></p>
					<h6 class="text-muted">Adapted from <span class="text-link openPDF" data-resource="Example_Study_1.pdf">Link to a PDF.</span></h6>
				
			
		</div>
		<div class="tab-pane" id="chart4">
			<h2>Sample Radar Chart</h2>
			<div class="text-center">
				<div id="canvas-4" class="canvas radar"></div>
			</div>
			<br/><br/>
			
					<p><em>Ultrices hac, sociis platea a mauris elit nec enim sed! Auctor nunc! Augue vel enim, odio, cum, rhoncus. Porta rhoncus.</em></p>
					<h6 class="text-muted">Adapted from <span class="text-link openPDF" data-resource="Example_Study_1.pdf">Link to a PDF.</span></h6>
			
		</div>
	</div>
</div>
<div class="col-xs-1 nopadding">
	<div class="chartNext"><i class="fa fa-chevron-right"></i></div>
</div>
</div>			


</div>
<!-- END SLIDE CONTENT -->