<!-- SLIDE CONTENT -->
<div class="content animated fadeIn">

	<div id="mySpriteSpin" class="product-1"></div>
	
	<div class="spinner">
        <span>0%</span>
    </div>
    
</div>
<!-- END SLIDE CONTENT -->