<!-- SLIDE CONTENT -->
<div class="content animated fadeIn">

	<div class="blank_target" style="width: 570px; height: 460px; top: 180px; left: 240px;">
		
		<section class="card-container card-1">
			<div class="card">
				<figure class="front"><p>1</p></figure>
				<figure class="back"><p>1</p></figure>
			</div>
		</section>
		
		<section class="card-container card-2">
			<div class="card">
				<figure class="front"><p>2</p></figure>
				<figure class="back"><p>2</p></figure>
			</div>
		</section>
		
		<section class="card-container card-3">
			<div class="card">
				<figure class="front"><p>3</p></figure>
				<figure class="back"><p>3</p></figure>
			</div>
		</section>
		
		<section class="card-container card-4">
			<div class="card">
				<figure class="front"><p>4</p></figure>
				<figure class="back"><p>4</p></figure>
			</div>
		</section>
		
		<section class="card-container card-5">
			<div class="card">
				<figure class="front"><p>5</p></figure>
				<figure class="back"><p>5</p></figure>
			</div>
		</section>
		
		<section class="card-container card-6">
			<div class="card">
				<figure class="front"><p>6</p></figure>
				<figure class="back"><p>6</p></figure>
			</div>
		</section>
		
	</div>
		
</div>
<!-- END SLIDE CONTENT -->