<!-- SLIDE CONTENT -->
<div class="content animated fadeIn" data-efficacy="1">

	<div class="swiper-container small-swiper">
		<div class="swiper-wrapper swiper-no-swiping">
			<div class="swiper-slide slide-1">
				<div id="canvas-97" class="canvas pie canvas-97 blank_target" style="width: 200px; height: 200px; top: 90px; left: 100px;"></div>
				<div id="canvas-100" class="canvas pie canvas-100 blank_target" style="width: 200px; height: 200px; top: 90px; left: 370px;"></div>
				<div id="canvas-75" class="canvas pie canvas-75 blank_target hidden" style="width: 200px; height: 200px; top: 140px; left: 150px;"></div>
			</div>
			<div class="swiper-slide slide-2">
				
			</div>
		</div>
	</div>
	
	<div class="small-slide-pagination"></div>
	
	<div class="blank_target" data-goefficacy="1" style="top: 280px; right: 30px; width: 230px; height: 70px;"></div>
	
	<div class="blank_target" data-goefficacy="2" style="top: 360px; right: 30px; width: 230px; height: 70px;"></div>
	
	<div class="load-images">
	
		<img src="../4/p_6_1_a_i.png" />
		
		<img src="../4/p_6_1_a_i_1.png" />
		
		<img src="../4/p_6_1_a_i_2.png" />
		
		<img src="../4/p_6_1_a_ii.png" />
		
		<img src="../4/p_6_1_a_ii_1.png" />
		
		<img src="../4/p_6_1_a_ii_2.png" />
		
	</div>
		
</div>
<!-- END SLIDE CONTENT -->