<!-- SLIDE CONTENT -->
<div class="content animated fadeIn">

	<div id="image-swap-container" class="swap-1" style="width: 700px; height: 400px; position: absolute; top: 170px; left: 85px;">	
		<div data-image_swap="1" class="blank_target" style="left: 0px; bottom: -80px; height: 60px; width: 80px;"></div>
		<div data-image_swap="2" class="blank_target" style="left: 120px; bottom: -80px; height: 60px; width: 80px;"></div>
		<div data-image_swap="3" class="blank_target" style="left: 240px; bottom: -80px; height: 60px; width: 80px;"></div>
		<div data-image_swap="4" class="blank_target" style="left: 380px; bottom: -80px; height: 60px; width: 80px;"></div>
	</div>
			
</div>
<!-- END SLIDE CONTENT -->
<!-- preload image --> 
<div class="load-images">
	<img src="../4/p_7_1_a_1.png" alt="Tab 1" />
	<img src="../4/p_7_1_a_2.png" alt="Tab 2" />		
	<img src="../4/p_7_1_a_3.png" alt="Tab 3" />				
	<img src="../4/p_7_1_a_4.png" alt="Tab 4" />											
</div>	