<!-- SLIDE CONTENT -->
<div class="content animated fadeIn">
	
	<div class="swiper-container swiper-page" data-direction="horizontal" data-freeMode="false" style="width: 845px; height: 430px; position: absolute; top: 200px; left: 90px;">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				Horizontal Content 1
			</div>
			
			<div class="swiper-slide">
				Horizontal Content 2
			</div>
			
			<div class="swiper-slide">
				Horizontal Content 3
			</div>
		</div>
			
		<div class="page-btns" style="left: 43%; bottom: 0px; height: 30px; width: 200px !important;">
			<a href="#" data-page="0" class="btn btn-default" style="position: absolute; left: 0px; top: 2px;">
				<i class="fa fa-circle"></i>
			</a>
			<a href="#" data-page="1" class="btn btn-default" style="position: absolute; right: 110px; top: 2px;">
				<i class="fa fa-circle"></i>
			</a>
				
			<a href="#" data-page="2" class="btn btn-default" style="position: absolute; right: 60px; top: 2px;">
				<i class="fa fa-circle"></i>
			</a>	
		</div>
	</div>
		
</div>
<!-- END SLIDE CONTENT -->