<div class="popover bottom animated fadeInUpBig" data-tut_id="1">
    <div class="arrow"></div>

    <h3 class="popover-title">Open Resource Center</h3>

    <div class="popover-content">
        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%"></div>
        </div>

        <p>To access the resource center, swipe down or tap the briefcase icon in the navigation bar.</p>
        <a href="#" class="btn btn-default">Close Tutorial</a> 
        <a href="#" class="btn btn-warning pull-right">Okay <i class="fa fa-long-arrow-right"></i></a>

        <div class="clearfix"></div>
    </div>
</div>



<div class="popover right animated fadeInRightBig" data-tut_id="2">
    <div class="arrow"></div>

    <h3 class="popover-title">Add/Remove Favourite Resources</h3>

    <div class="popover-content">
        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%"></div>
        </div>

        <p>Tap on the star icon to add a resource to your favourites list. To remove a favourite resource, tap the star again.</p>
        <a href="#" class="btn btn-default">Close Tutorial</a> 
        <a href="#" class="btn btn-warning pull-right">Okay <i class="fa fa-long-arrow-right"></i></a>

        <div class="clearfix"></div>
    </div>
</div>



<div class="popover top animated fadeInDownBig" data-tut_id="3">
    <div class="arrow"></div>

    <h3 class="popover-title">Close Resource Center</h3>

    <div class="popover-content">
        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%"></div>
        </div>

        <p>To close the resource center, swipe up on the bottom tab.</p>
        <a href="#" class="btn btn-default">Close Tutorial</a> 
        <a href="#" class="btn btn-warning pull-right">Okay <i class="fa fa-long-arrow-right"></i></a>

        <div class="clearfix"></div>
    </div>
</div>



<div class="popover top animated fadeInDownBig" data-tut_id="4">
    <div class="arrow"></div>

    <h3 class="popover-title">Open Favourite Slides</h3>

    <div class="popover-content">
        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"></div>
        </div>

        <p>To access your favourite slides, swipe up.</p>
        <a href="#" class="btn btn-default">Close Tutorial</a> 
        <a href="#" class="btn btn-warning pull-right">Okay <i class="fa fa-long-arrow-right"></i></a>

        <div class="clearfix"></div>
    </div>
</div>



<div class="popover right animated fadeInRightBig" data-tut_id="5">
    <div class="arrow"></div>

    <h3 class="popover-title">Add Slide to Favourites</h3>

    <div class="popover-content">
        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
        </div>

        <p>To add the current slide to your favourites list, tap the plus icon on the left.</p>
        <a href="#" class="btn btn-default">Close Tutorial</a> 
        <a href="#" class="btn btn-warning pull-right">Okay <i class="fa fa-long-arrow-right"></i></a>

        <div class="clearfix"></div>
    </div>
</div>



<div class="popover top animated fadeInDownBig" data-tut_id="6">
    <div class="arrow"></div>

    <h3 class="popover-title">Open Slide Overview</h3>

    <div class="popover-content">
        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
        </div>

        <p>To access the slide overview, swipe up on the top tab.</p>
        <a href="#" class="btn btn-default">Close Tutorial</a> 
        <a href="#" class="btn btn-warning pull-right">Okay <i class="fa fa-long-arrow-right"></i></a>

        <div class="clearfix"></div>
    </div>
</div>



<div class="popover right animated fadeInRightBig" data-tut_id="7">
    <div class="arrow"></div>

    <h3 class="popover-title">Add/Remove Favourite Slides</h3>

    <div class="popover-content">
        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%"></div>
        </div>

        <p>Tap on the star icon to add a slide to your favourites list. To remove a favourite slide, tap the star again.</p>
        <a href="#" class="btn btn-default">Close Tutorial</a> 
        <a href="#" class="btn btn-warning pull-right">Okay <i class="fa fa-long-arrow-right"></i></a>

        <div class="clearfix"></div>
    </div>
</div>



<div class="popover bottom animated fadeInUpBig" data-tut_id="8">
    <div class="arrow"></div>

    <h3 class="popover-title">Close Slide Overview</h3>

    <div class="popover-content">
        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
        </div>

        <p>To close the slide overview, swipe down on the top tab.</p>
        <a href="#" class="btn btn-default">Close Tutorial</a> 
        <a href="#" class="btn btn-warning pull-right">Okay <i class="fa fa-long-arrow-right"></i></a>

        <div class="clearfix"></div>
    </div>
</div>



<div class="popover animated wobble" data-tut_id="9">
    <div class="arrow"></div>

    <h3 class="popover-title">Navigate Pages</h3>

    <div class="popover-content">
        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
        </div>

        <p>Swipe right to left to go to the next page. Swipe left to right to go to the previous page. Pinch in on any page to return to the home page.</p>
        <a href="#" class="btn btn-default">Close Tutorial</a> 
        <a href="#" class="btn btn-warning pull-right">Okay <i class="fa fa-long-arrow-right"></i></a>

        <div class="clearfix"></div>
    </div>
</div>



<div class="popover animated fadeIn" data-tut_id="10">
    <h3 class="popover-title">Show Brand Menu</h3>

    <div class="popover-content">
        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>

        <p>Tap and hold to reveal the brand menu. To exit the brand menu, tap the white space around the menu.</p>
        <a href="#" class="btn btn-warning btn-block">Close Tutorial</a>

        <div class="clearfix"></div>
    </div>
</div>

