<div class="edit-state no-edit animated fadeIn">
<div class="custom-calls-sidebar">

	<div class="btn btn-default btn-add-call"><i class="fa fa-plus pull-right"></i>Add New Custom Call</div>
	
	<div class="iscroll-container call-list-swiper">
	<div class="iscroll-wrapper">
	<div class="iscroll-slide">
	
	<div class="btn btn-default active" data-gocall="0">Default Presentation</div>
	
	<div class="btn btn-default" data-gocall="default-1" 
		data-callslides="_2_1_a,_4_1_a">
		Preset Call
	</div>
	
	<div class="all-calls">

	</div>
	
	</div>
	</div>
	
	</div>
	
</div>
<div class="toolbar">

	<div class="btn btn-default pull-left call-name show-default-state"><strong>Default Presentation</strong></div>
	
	<div class="default-buttons">
		<div class="btn btn-default btn-present show-default-state">Present</div>
		<div class="btn btn-default btn-edit">Edit Slides</div>
		<div class="btn btn-default btn-rename">Rename</div>
		<div class="btn btn-default btn-delete">Delete</div>
	</div>
	
	<div class="edit-buttons">
		<div class="btn btn-default btn-save">Save Call</div>
		<div class="btn btn-default btn-reset">Reset</div>
		<div class="btn btn-default btn-cancel" data-toggle="tooltip" data-placement="left" title="Tap the slides in any order and then press save" data-trigger="manual" data-animation="false">Cancel</div>
	</div>
	
</div>
<div class="swiper-container swiper-slidelibrary">
	<div class="swiper-wrapper">
		<div class="swiper-slide">
			
			<div id="slidelibrary-container">
			<div class="row">


			</div>
			</div>
		</div>
	</div>
	<div class="swiper-scrollbar swiper-scrollbar-2"></div>
	</div>
</div>