@blue: #0c77ba;
@grey: #f3f1f0;

html, body {
	height: 100%;
}

body {
	font-family: Helvetica, 'sans-serif';
	-webkit-user-select: none;
	background: #444;
}

a {
	color: inherit;
	
	&:hover {
		color: inherit;
	}
	
	&:active {
		color: #0c78ba;
	}
}

h1, h2, h3, h4, h5 {
	margin: 0;
}

.main-wrapper {
	width: 1024px;
	height: 768px;
	background: #eee no-repeat;
	background-size: 100%;
	position: relative;
	overflow: hidden;
}

.no-margin {
	margin: 0;
	
	& > [class^='col-']:first-child {
		padding-left: 0;
	}

	& > [class^='col-']:last-child {
		padding-right: 0;
	}
}

.no-padding {
	padding: 0;
}

.btn, .dropdown-menu {
	border-radius: 8px;
}

.ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.btn-default:hover {
	color: #333333;
	background-color: #ffffff;
	border-color: #cccccc;
}

.btn-default.active:hover {
	color: #333333;
	background-color: #ebebeb;
	border-color: #adadad;
}




/* PRES SWIPER */

.swiper-pres {
	background: #fff;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.swiper-pres > .swiper-wrapper > .swiper-slide {
	position: relative;
}

.content {
	width: 100%;
	height: 100%;
	position: relative;
	opacity: 1;
	-webkit-transition: -webkit-transform ease .5s, opacity ease .5s;
	padding: 60px 30px;
	background-size: auto 100%;
	background-repeat: no-repeat;
	
	&.shrink {
		-webkit-transform: scale(.3);
		opacity: 0;
	}
}

.top-nav-bar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 200;
	background: @blue;
	//height: 60px;
	text-align: center;
	padding: 0;
	-ms-box-orient: horizontal;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-around; 
	justify-content: space-around;
	
	&.unloaded {
		.btn {
			display: none;
		}
	}
}

.top-nav-bar .btn {
	//display: block;
	line-height: normal;
	padding: 0;
	text-align: center;
	border-radius: 0;
	background: @blue;
	color: rgba(255,255,255,.7);
	//margin: 0 2px;
	border:none;
	position: relative;
	//flex-grow: 1;
	//min-width: 10%;
	-webkit-flex: initial;
	flex: initial;
	width: 50%;
	min-width: 10%;
	.animated;
	.fadeIn;
	
	&.active{
		color: rgba(255,255,255,1);
		background: darken(@blue,7%);
		.box-shadow(none);
	}
	
	&:active {
		.box-shadow(none);
		color: rgba(255,255,255,1);
	}
}

.navword {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
	background: no-repeat;
	padding: 21px 0;
	height: 60px;
}

[data-go_slidecontent] .navword {
	background-image: url(../4/n_top.png);
	background-size: 140px 40px;
	background-position: center center;
}





/* INNER PRES SWIPER */
.swiper-inner {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

/* INNER PAGE SWIPER */
.swiper-page {	
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
}

.swiper-page .content,
.swiper-scroll .content {
	padding-right: 120px;
}

.page-btns .btn {
	font-size: 40px;
	margin-bottom: 10px;
	border: none;
	color: #626366;
	background: rgba(214,214,214,1)!important;
}
.page-btns {
	position: absolute;
	right: 0px;
	bottom: 300px;
	width: 61px;
	z-index: 2;
}

.btn.disabled{
	opacity: .30;
}


/* FOOTER */

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 84px;
	background: #fff url(../4/footer.png) no-repeat;
	background-size: 100%;
	z-index: 2;
}

.btn-container {
	padding: 22px 0 0 40px;
}

.btn-container .btn {
	float: left; 
	margin-right: 10px;
	border-radius: 50%;
	background-size: 77px 37px;
	background-position: center center;
	border-color: #b1b3b6;
	border-color: transparent;
	width: 35px;
	height: 35px;
}

.footer [data-gopres],
.footer [data-gopres_lang] {
	background-image: url(../4/btn-fr.png);
	background-color: lighten(#333,40%);
}

.footer .i-btn {
	background-image: url(../4/btn-i.png);
	background-color: #f89838;
}

.footer [data-go_slidecontent] {
	background-color: @blue;
	padding: 7px 6px;
	color: #fff;
}



/* Top Slide out Content */

.slide-content-top {
	position: absolute;
	width: 100%;
	height: 620px;
	background: rgba(255,255,255,0.8);
	top:0;
	left:0;
	-webkit-transition: -webkit-transform .3s cubic-bezier(.02, .01, .47, 1);
	-webkit-transform: translateY(-620px);
	z-index: 200;
	box-shadow: 0 0 4px rgba(0,0,0,0.4);
}

.open-slide-content-top .slide-content-top {
	-webkit-transform: translateY(0);
}

.pull-tab {
	width: 100%;
	height: 40px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.pull-tab:after {
	display: block;
	content: '';
	width: 70px;
	height: 10px;
	border-radius: 20px;
	background: #ccc;
	position: absolute;
	bottom: 15px;
	left: 50%;
	margin-left: -35px;
}




/* RESOURCE SWIPER */

.swiper-resources {
	position: absolute;
	top: 60px;
	bottom: 40px;
	left: 0;
	right: 0;
}

.swiper-resources > .swiper-wrapper {
	min-height: 100%;
	width: 100%;
}

.swiper-resources > .swiper-wrapper > .swiper-slide {
	height: 100%;
	width: 100%;
}



/* RESOURCES */

#template {
	display: none;
}

.resource-container {
	padding: 15px 30px 0px 30px;
}

.resource-container .col-xs-2 {
	width: 20%;
}

.tab-container {
	padding: 10px 30px;
}

.tab-container h2 {
	float: left;
	color: @blue;
	font-weight: bold;
	font-size: 24px;
	padding: 5px 20px 0 0;
}

.nav-pills .badge {
	margin-left:3px;
	line-height: normal;
}

.nav-pills>.active>a>.badge {
	color: @blue;
}

.nav-pills>li+li {
	margin-left: 10px;
}

.nav-pills>li>a {
	border-radius: 15px;
}

.nav-pills>li.active>a,.nav-pills>li.active>a:hover {
	background: @blue;
}
.nav-pills>li>a:hover {
	background: transparent;
	color: inherit;
}
.nav-pills>li>a:active {
	background-color: #fff;
	color: @blue;
}

.resource {
	text-align: center;
	width: 100%;
	float: left;
	height: 120px;
	background: #fff;
	position: relative;
	margin-bottom: 30px;
	overflow: hidden;
	//border: 1px solid #ccc;
	
	&:after {
		border: 1px solid rgba(0, 0, 0, .10);
		bottom: 0;
		content: '';
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}
}

.resource img {
	width: 100%;
	height: auto;
}

.favstar,
.email {
	position: absolute;
	top: 0;
	right: 15px;
	color: rgba(0,0,0,0.3);
	text-align: center;
	font-size: 25px;
	padding: 1px 6px;
	z-index: 3;
	-webkit-backface-visibility: hidden;
}

.email {
	right: 51px;
	font-size: 19px;
	padding: 4px 7px;
	color: rgba(0,0,0,0.3);
	display: none;
}

[data-emailfunction="true"] .email {
	display: block;
}

.favs-swiper .favstar {
	right: 30px;
}

[data-section_id="_customcall"] + .favstar {
	display: none;
}

.fav-on .favstar {
	color: #ffde00;
}

.resource p {
	position: absolute;
	bottom: 0;
	width: 100%;	
	background: rgba(0,0,0,.7);
	background: rgba(12,119,186,.9);
	font-weight: bold;
	color: #fff;
	margin: 0;
	padding: 5px;
	line-height: normal;
	font-size: 12px;
	z-index: 2;
	-webkit-backface-visibility: hidden;
}




/* Bottom Slide out Content */

.slide-content-bottom {
	position: absolute;
	width: 100%;
	height: 768px - 60px;
	background: rgba(255,255,255,0.8);
	bottom:0;
	left:0;
	-webkit-transition: -webkit-transform .3s cubic-bezier(.02, .01, .47, 1);
	-webkit-transform: translateY(770px);
	z-index: 200;
	box-shadow: 0 0 4px rgba(0,0,0,0.4);
}

.open-full .slide-content-bottom {
	-webkit-transition: -webkit-transform .4s cubic-bezier(.02, .01, .47, 1);
}

.open-slide-content-bottom .slide-content-bottom {
	@slideheight: 768px - 513px;
	-webkit-transform: translateY(513px);
}

.open-slide-content-bottom.open-full .slide-content-bottom {
	-webkit-transform: translateY(0);
}

.slide-content-bottom .pull-tab {
	top: 0;
	bottom: auto;
}

div.iScrollIndicator {
	background: rgba(0,0,0,0.1)!important;
}

.swiper-scrollbar-4 {
	left: 3px;
	bottom: -25px;
	right: 3px;
	width: auto;
	height: 5px;
	top: auto;
}



/* FAVORITES */
.favs-swiper {
	height: 127px;
	width: 100%;
	position: absolute;
	top: 40px;
	left: 0;
	overflow: visible;
}

.favs-swiper > .swiper-wrapper {
	margin: 0;
	min-width: 100%;
}

.favs-swiper > .swiper-wrapper > .swiper-slide {
	position: relative;
	height: 100%;
	overflow: hidden;
	
	
	.animated;
	.fadeIn;
	
	> div {
		position: relative;
		-webkit-backface-visibility: hidden;
	}
}

.fav-label {
	text-align: center;
	width: 50px;
	float: left;
	height: 100%;
	position: relative;
	background-size: 100%;
	margin: 0 15px;
}

.fav-label p {
	margin: 0;
	-webkit-transform-origin: left top;
	transform-origin: left top;
	transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
	position: absolute;
	top: 106px;
	left: 11px;
	font-size: 18px;
	font-weight: bold;
}

.fav-thumb, .add-fav, .slide-thumb {
	text-align: center;
	width: 169px;
	float: left;
	height: 127px;
	background: #fff;
	position: relative;
	background-size: 100%;
	margin-right: 30px;
	
	&:after {
		border: 1px solid rgba(0, 0, 0, .10);
		bottom: 0;
		content: '';
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}
}

.slide-thumb {
	width: 100%;
	margin-right: 0;
	margin-bottom: 30px;
}

.add-fav {
	background: @grey;
	//border: 2px solid #b1b3b6;
	box-shadow: none;
	margin-left: 30px;
}

.add-fav p {
	font-size: 65px;
	color: lighten(#333,60%);
	position: absolute;
	/* top: 23px; */
	/* left: 56px; */
	line-height: normal;
	/* width: 60px; */
	margin: 0;
	height: 70px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

[data-activesection="_customcall"] {
	.add-fav {
		.fa-plus {
			display: none;
		}
		.fa-ban {
			display: inline-block;
		}
	}
}

[data-activesection="_detailaid"] {
	.add-fav {
		.fa-plus {
			display: inline-block;
		}
		.fa-ban {
			display: none;
		}
	}
}

.fav-thumb p,
.slide-thumb p {
	position: absolute;
	bottom: 0;
	width: 100%;	
	background: rgba(0,0,0,.4);
	background: rgba(12,119,186,.9);
	font-weight: bold;
	color: #fff;
	margin: 0;
	padding: 5px;
	line-height: normal;
	font-size: 12px;
}

#reaction-alert {
	background: @grey;
	border: 1px solid darken(@grey,10%);
	color: #4b4b4b;
	padding: 30px 40px;
	border-radius: 10px;
	text-align: center;
	width: 290px;
	font-size: 20px;
	position: absolute;
	top:50%;
	left: 50%;
	margin-left: -130px;
	margin-top: -100px;
	z-index: 200;
	box-shadow: 0 0 5px rgba(0,0,0,.4);
	display: none;
	
	i {
		display: block;
		text-align: center;
		font-size: 50px;
		margin-bottom: 15px;
	}
}
#reaction-alert div {
	display: none;
}
#reaction-alert.positive, #reaction-alert.negative, #reaction-alert.deleted {
	display: block;
}
#reaction-alert.negative .negative-reaction {
	display: block;
}
#reaction-alert.positive .positive-reaction {
	display: block;
}
#reaction-alert.deleted .deleted-reaction {
	display: block;
}




/* Slide Library Swiper */
.swiper-slidelibrary,
.swiper-customcalls {
	position: absolute;
	top: 44px;
	bottom: 0;
	left: 199px;
	right: -1px;
	width: auto;
	background: #fff;
}

.swiper-customcalls {
	top: 102px;
	left: 199px;
	width: auto;
}

.swiper-slidelibrary > .swiper-wrapper,
.swiper-customcalls > .iscroll-wrapper {
	min-height: 100%;
	width: 100%;
}

.swiper-slidelibrary > .swiper-wrapper > .swiper-slide,
.swiper-customcalls > .swiper-wrapper > .swiper-slide {
	height: 100%;
	width: 100%;
}

#slidelibrary-container,
#customcalls-container {
	padding: 30px 30px 0 30px;
}

#slidelibrary-container .col-xs-2 {
	width: 20%;
}

.tab-overview-container {
	position: absolute;
	top: 186px;
	width: 100%;
	//border-top: 2px solid #eee;
	
	&:after {
		border: 1px solid rgba(0, 0, 0, .10);
		content: '';
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}
}



.content-cover {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255,255,255,0.6);
	z-index: 100;
	display: none;
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
}





/* Popups */
.load-small-video {
	width: 241px;
	height: 155px;
	position: absolute;
	top: 53px;
	right: 27px;
}
.load-small-video video {
	background: #000;
	z-index: 2;
	position: relative;
}
#load-video {
	margin: 200px auto 0 auto;
	display: block;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	width:640px;
	height:360px;
}
#load-video video {
	background: #fff;
}
.popup-container,
.video-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.6);
	background: rgba(12,119,186,.7);
	z-index: 1000;
	display: none;
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
}
.popup {
	width: 600px;
	height: 300px;
	background-color: #fff;
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	display: none;
	background: #fff no-repeat;
	background-size: 100%;
	background-position: center bottom;
}



/* Tutorial Popover */
.tutorial-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1001;
	display: none;
	background: rgba(0,0,0,0.3);
}
#tutorial-content {
	height: 100%;
	width: 100%;
}
.popover {
	margin: 0 auto;
	width: 320px;
	max-width: 320px;
}
.popover-title {
	font-weight: bold;
}

.popover .progress {
	margin-bottom: 10px;
	height: 10px;
}

[data-tut_id="1"] {
	top: 0;
	left: 50%;
	margin-left: -160px;
}

[data-tut_id="2"] {
	top: 5px;
	left: 20%;
	margin-left: -160px;
}

[data-tut_id="3"] {
	top: 430px;
	left: 50%;
	margin-left: -160px;
}

[data-tut_id="4"] {
	bottom: 10px;
	top:auto;
	left: 50%;
	margin-left: -160px;
}

[data-tut_id="5"] {
	bottom: 12px;
	top:auto;
	left: 20%;
	margin-left: -160px;
}

[data-tut_id="6"] {
	bottom: 190px;
	top:auto;
	left: 50%;
	margin-left: -160px;
}

[data-tut_id="7"] {
	bottom: 330px;
	top:auto;
	left: 50%;
	margin-left: -100px!important;
}

[data-tut_id="8"] {
	top: 87px;
	left: 50%;
	margin-left: -160px;
}

[data-tut_id="9"] {
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -160px;
}

[data-tut_id="10"] {
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -160px;
}


/* Pop Menu */
.pop-menu {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	display: none;
	background: rgba(255,255,255,0.4);
}

.block-content {
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
}

.pop-menu-open .swiper-pres-container,
.pop-menu-open .overlay-content {
	filter: blur(2px);
	-webkit-filter: blur(2px);
}

.pop-menu-block {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 15px;
	width: 394px;
	margin-left: -190px;
	margin-top: -77px;
	background: #fff;
	border-radius: 15px;
	box-shadow: 0 0 4px rgba(0,0,0,0.4);
}

.block-btns .btn-brand {
	width: 81px;
	height: 79px;
	float: left;
	margin-right: 10px;
	background-repeat: no-repeat;
	background-size: 100%;
	box-shadow: 2px 2px 10px rgba(0,0,0,.2);
	border-radius: 10px;
}

.btn-a {
	background-image: url(../4/btn-a.png);
}

.btn-b {
	background-image: url(../4/btn-b.png);
}

.btn-c {
	background-image: url(../4/btn-c.png);
}

.btn-d {
	background-image: url(../4/btn-d.png);
}

.block-btns .btn-brand:last-child, .grey-btns .btn:last-child {
	margin-right: 0;
}

.block-btns {
	clear: both;
}

.grey-btns {
	padding-top: 15px;
	overflow: hidden;
	clear: both;
}

.grey-btns .btn {
	float: left;
	padding: 6px 17px;
	margin-right: 10px;
}





.blank_target {
	position: absolute;
	width: 100px;
	background: rgba(255,0,0,0);
	background-size: 100%;
	background-repeat: no-repeat;
	height: 40px;
	z-index: 5;
}

.vid_target {
	right:0;
	width:270px;
	height:50px;
}

[data-popup].blank_target {
	width: auto;
	height: auto;
}

.popup-animated-piece {
	position: absolute;
	-webkit-transition: 1.5s all ease;
	-webkit-backface-visibility: hidden;
	// background: rgba(0,0,0,.3);
	-webkit-transition-delay: 0s;
	background-repeat: no-repeat;
}

.popup-animated-piece.piece-2 {
	-webkit-transition-delay: 1s;
}

.popup-animated-piece.piece-3 {
	-webkit-transition-delay: 2s;
}

.popup-animated-piece.piece-4 {
	-webkit-transition-delay: 3s;
}

.reset .popup-animated-piece,
.popup-animated-piece.trigger-animation {
	-webkit-transition-delay: 0!important;
	-webkit-transition-duration: 0!important;
}

[data-animate_from="top"] {
	top: 0;
	left: 0;
	background-position: left top;
}

[data-animate_from="bottom"] {
	bottom: 0;
	left: 0;
	background-position: left bottom;
}

[data-animate_from="left"] {
	top: 0;
	left: 0;
	background-position: left top;
}

[data-animate_prop="height"] {
	width: 100%;
	height: 0;
}

[data-animate_prop="width"] {
	width: 0;
	height: 100%;
}

[data-animate_prop="opacity"] {
	width: 100%;
	height: 100%;
	opacity: 0;
}

[data-animate_prop="opacity"][data-animate_from="1"] {
	opacity: 1;
}

.popup-open .popup-container.fadeIn [data-animate_prop="height"] {
	height: 100%;
}

.popup-open .popup-container.fadeIn [data-animate_prop="width"] {
	width: 100%;
}

.popup-open .popup-container.fadeIn [data-animate_prop="opacity"] {
	opacity: 1;
}

.popup-open .popup-container.fadeIn [data-animate_prop="opacity"][data-animate_from="1"] {
	opacity: 0;
}

.animation-container {
	display: none;
}

.animation-container.play,
.animation-container.reset,
.animation-container.tap-to-trigger {
	display: block;
}

.trigger-animation {
	display: none;
}

.tap-to-trigger .trigger-animation {
	display: block;
}

.animation-container.play [data-animate_prop="height"] {
	height: 100%;
}

.animation-container.play [data-animate_prop="width"] {
	width: 100%;
}

.animation-container.play [data-animate_prop="opacity"] {
	opacity: 1;
}

.animation-container.play [data-animate_prop="opacity"][data-animate_from="1"] {
	opacity: 0;
}

.tap-to-trigger {
	//background-color: rgba(0,0,0,.3);
}

.close-popups {
	border-radius: 50%;
	border-color: transparent;
	width: 30px;
	height: 30px;
	background-color: @blue;
	color: #fff!important;
	padding: 3px 0;
	line-height: normal;
	font-size: 18px;
	position: absolute;
	right: 10px;
	top: 10px;
}

.load-images {
	width: 0;
	height: 0;
	overflow: hidden;
}

#indicator {
	width:40px;
	height:40px;
	border-radius:20px;
	background:rgba(153,255,255,.4);
	position:absolute;
	top:0;
	left:0;
	display:none;
	z-index:1000000001;
}




/* OVERLAY CONTENT */
.edit-state {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.custom-calls-sidebar {
	width: 199px;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	background: @grey;
	
	&:after {
		border-right: 1px solid rgba(0, 0, 0, .10);
		bottom: 0;
		content: '';
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}

	.btn {
		border-radius: 0;
		border: none;
		width: 100%;
		text-align: left;
		padding: 14px 15px;
		box-shadow: none!important;
		background: @grey;
		color: @blue!important;
		white-space: normal;
		line-height: normal;
		position: relative;
		z-index: 33333;
		
		&:after {
			border-bottom: 1px solid rgba(0, 0, 0, .10);
			border-right: 1px solid rgba(0, 0, 0, .10);
			bottom: 0;
			content: '';
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}
		
		&.btn.active {
			background: #fff;
			color: @blue!important;
		}
		
		.fa.pull-right {
			position: absolute;
			right: 15px;
			top: 15px;
			margin: 0;
		}
		
		&.btn-add-call {
			background: lighten(#333,50%);
			color: #fff!important;
			height: 44px;
			
			&:after {
				border-bottom: none;
			}
		}
	}
}

.call-list-swiper {
	position: absolute;
	top: 44px;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 333;
	overflow: hidden;
	
	& > .swiper-wrapper {
		min-height: 100%;
		width: 100%;
		
		& > .swiper-slide {
			height: 100%;
			width: 100%;
		}
	}
}

.toolbar {
	position: absolute;
	top: 0;
	left: 199px;
	padding-left: 15px;
	right: 0;
	background: lighten(#333,50%);
	color: #fff;
	
	/*
&:after {
		border-bottom: 1px solid rgba(0, 0, 0, .10);
		border-top: 1px solid rgba(0, 0, 0, .10);
		bottom: 0;
		content: '';
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}
*/

	.btn {
		float: right;
		border-radius: 0;
		border: none;
		background: transparent;
		padding: 14px 15px;
		box-shadow: none!important;
		color: #fff!important;
		max-width: 410px;
		overflow: hidden;
		text-overflow: ellipsis;
		text-align: left;
		line-height: normal;
		position: relative;
		height: 44px;
		
		&.active:hover {
			color: #001551!important;
		}
		
		&.btn-present,
		&.btn-save {
			//background: #fff;
			
			&:after {
				border-left: 1px solid rgba(0, 0, 0, .20);
				bottom: 0;
				content: '';
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
			}
		}
	}
}

.edit-buttons {
	display: none;
}


.editing .edit-buttons {
	display: block;
}

.editing .hidden-on-edit {
	display: none!important;
}

.edit-state:not(.editing) .hidden-on-edit {
	display: block;
}

.no-edit .toolbar .btn {
	display: none;
}

.editing .default-buttons {
	display: none;
}

.no-edit .btn.show-default-state {
	display: block;
}

.tooltip-inner {
	background: darken(@blue,7%);
}

.tooltip.left .tooltip-arrow {
	border-left-color: darken(@blue,7%);
}

.slide-order {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.7);
	color: #fff;
	font-size: 46px;
	font-weight: bold;
	line-height: normal;
	overflow: hidden;
}

.slide-order span {
	display: block;
	text-align: center;
	position: absolute;
	width: 100%;
	top: 50%;
	margin-top: -50px;
	width: 100px;
	height: 100px;
	border: 2px solid #fff;
	border-radius: 50%;
	line-height: 100px;
	left: 50%;
	margin-left: -50px;
}

.slide-thumb .slide-order {
	display: none;
}

.editing .slide-thumb.selected .slide-order {
	display: block;
}

.edit-state .unchosen {
	display: none;
}

.edit-state.editing .unchosen {
	display: block;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

.custom-calls {
	position: absolute;
	top: 195px;
	left: 0;
	right: 0;
	bottom: 0;
	
	h1 {
		text-align: center;
		margin-top: 130px;
		color: lighten(#333,50%);
	}
}







/* email request form */

.modal-content {
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.modal-header {
	padding: 0;
	font-size: 16px;
}

.modal-body {
	font-size: 15px;
}

.btn-form {
	padding: 10px 15px;
	display: inline-block;
	color: #999;
	font-weight: bold;
}

.btn-send-form:not(.disabled) {
	color: #2c9ce0;
}

.pdf-title {
	display: block;
	padding: 10px 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: bold;
}

.modal-backdrop {
	background: rgba(255,255,255,.9);
	
	&.in {
		opacity: 0.9;
		filter: alpha(opacity=90);
	}
}

.modal .form-control {
	border: none;
	outline: none!important;
	resize: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.form-horizontal .control-label {
	padding-top: 6px;
	text-align: left;
}

.col-sm-05 {
	width: 23%;
}
.col-sm-06 {
	width: 32%;
}

.form-horizontal .form-group {
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 5px;
	margin-left: 0;
	margin-right: 0;
}
.modal label {
	font-weight: normal;
	color: #999;
}

#sendmessage {
	height: 100px;
}

.selected-resource {
	color: #333;
}

.p-l-0 {
	padding-left: 0;
}

.p-r-0 {
	padding-right: 0;
}

.m-b-0 {
	margin-bottom: 0;
}