[data-popid="_0_1_a_i"] {
	background-image: url(../4/p_0_1_a_i.png);
}

[data-popid="_0_1_a_ii"] {
	background-image: url(../4/p_0_1_a_ii.png);
}


h2 {
	color: @blue;
	margin: 0 0 20px 0;
}

h6 {
	font-size:12px;
}

.text-link{
	padding: 8px 0;
	text-decoration: underline;
}

.email-link {
	padding: 8px 10px;
}


// SLIDE ID _1_1_a 
[data-slideid="_1_1_a"] .content {
	background-image: url(../4/p_1_1_a.png);
}


// SLIDE ID _2_1_a 
[data-slideid="_2_1_a"] .content {
	background-image: url(../4/p_2_1_a.png);
}

[data-slideid="_2_1_a"] .piece-1 {
	background-image: url(../4/p_2_1_a_i_1.png);
	-webkit-transition-duration: 2.2s;
}

[data-slideid="_2_1_a"] .piece-2 {
	background-image: url(../4/p_2_1_a_i_2.png);
}

[data-slideid="_2_1_a"] .piece-3 {
	background-image: url(../4/p_2_1_a_i_3.png);
	-webkit-transition-duration: 2s;
}

[data-slideid="_2_1_a"] .piece-4 {
	width: 80px;
	height: 80px;
	right: 0;
	bottom: 0;
	background-position: right bottom;
	background-image: url(../4/p_2_1_a_i_4.png);
}


// SLIDE ID _3_1_a 

[data-slideid="_3_1_a"] {
	.tab-content {
		background: @grey;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
		padding: 20px 30px;
	}
	
	.nav-pills > li + li {
		margin: 0;
	}
	
	.nav-pills > li.active > a {
		background: @grey;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		color: @blue;
	}
	
	.chartPrev, .chartNext {
		font-size: 40px;
		margin-top: 250px;
		color: @grey;
		padding: 15px;
	}
	.chartPrev:active, .chartNext:active {
		color: @blue;
	}
	.chartPrev {
		float: right;
		margin-right: -15px;
	}
	.chartNext {
		float: left;
		margin-left: -15px;
	}
}


[data-slideid="_4_1_a"] {
	.nav-pills > li + li {
		margin: 0;
	}
}

[data-slideid="_4_1_a"] .content {
	background-image: url(../4/p_4_1_a.png);
}

[data-slideid="_5_1_a"] .content {
	background-image: url(../4/p_5_1_a.png);
}



.fake-product {
	background: rgba(0,0,0,0);
	position: absolute!important;
}

.product-1,
.product-2,
.product-2b {
	position: absolute!important;
	top: 120px;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}

.spinner,
.spinner2 {
  width: 60px;
  display: block;
  margin: 0 auto;
  height: 30px;
  margin-top: 250px;
  background: #333;
  background: rgba(0, 0, 0, 0.7);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.spinner span,
.spinner2 span {
  font-family: Arial, Verdana, sans-serif;
  font-size: 12px;
  font-weight: bolder;
  color: #FFF;
  text-align: center;
  line-height: 30px;
  display: block;
}





	
.card-container {
	position: relative;
	-webkit-perspective: 800px;
	perspective: 800px;
	float: left;
	border-radius: 4px;
	width: 175px;
	height: 212px;
	margin-right: 14px;
	margin-bottom: 14px;
}

.card {
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: -webkit-transform .8s;
	transform-style: preserve-3d;
	transition: transform .8s;
}

.card figure {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.card .front {
	background: rgb(244,51,51);
	background: -moz-linear-gradient(top,  rgba(244,51,51,1) 0%, rgba(99,0,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,51,51,1)), color-stop(100%,rgba(99,0,0,1)));
	background: -webkit-linear-gradient(top,  rgba(244,51,51,1) 0%,rgba(99,0,0,1) 100%);
	background: -o-linear-gradient(top,  rgba(244,51,51,1) 0%,rgba(99,0,0,1) 100%);
	background: -ms-linear-gradient(top,  rgba(244,51,51,1) 0%,rgba(99,0,0,1) 100%);
	background: linear-gradient(to bottom,  rgba(244,51,51,1) 0%,rgba(99,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f43333', endColorstr='#630000',GradientType=0 );
	
	background: rgb(247,137,27);
	background: -moz-linear-gradient(top,  rgba(247,137,27,1) 0%, rgba(153,92,36,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,137,27,1)), color-stop(100%,rgba(153,92,36,1)));
	background: -webkit-linear-gradient(top,  rgba(247,137,27,1) 0%,rgba(153,92,36,1) 100%);
	background: -o-linear-gradient(top,  rgba(247,137,27,1) 0%,rgba(153,92,36,1) 100%);
	background: -ms-linear-gradient(top,  rgba(247,137,27,1) 0%,rgba(153,92,36,1) 100%);
	background: linear-gradient(to bottom,  rgba(247,137,27,1) 0%,rgba(153,92,36,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7891b', endColorstr='#995c24',GradientType=0 );

	background-size: 100%;
	border-radius: 4px;
	
	p {
		margin: 0;
		font-size: 150px;
		color: #fff;
		text-align: center;
		font-weight: bold;
		text-shadow: 0 0 4px rgba(0,0,0,.3);
		line-height: 1.4em;
	}
}

.card .back {
	background: lighten(@blue,50%) no-repeat;
	background-size: 100%;
	border-radius: 4px;
	-webkit-transform: rotateY( 180deg );
	transform: rotateY( 180deg );
	border: 1px solid lighten(@blue,30%);
	
	p {
		margin: 0;
		font-size: 150px;
		color: lighten(@blue,40%);
		text-align: center;
		font-weight: bold;
		//text-shadow: 0 0 4px rgba(0,0,0,.3);
		line-height: 1.4em;
	}
}

.card.flipped {
	-webkit-transform: rotateY( 180deg );
	transform: rotateY( 180deg );
}





[data-slideid="_6_1_a"] .content[data-efficacy="1"] {
	background-image: url(../4/p_6_1_a_i.png);
}

[data-slideid="_6_1_a"] .content[data-efficacy="2"] {
	background-image: url(../4/p_6_1_a_ii.png);
}

[data-slideid="_6_1_a"] .small-swiper {
	width: 700px;
	height: 534px;
	position: absolute;
	top: 150px;
	left: 35px;
}

[data-slideid="_6_1_a"] .small-swiper .swiper-slide {
	background-repeat: no-repeat;
	background-size: 100%;
	position: relative;
	-webkit-backface-visibility: hidden;
}

[data-slideid="_6_1_a"] .small-slide-pagination {
	position: absolute;
	top: 338px;
	left: 35px;
	width: 700px;
	height: 0;
	z-index: 1;
	padding: 0 15px
}

[data-slideid="_6_1_a"] .small-slide-pagination span {
	display: block;
	height: 35px;
	float: left;
	width: 35px;
	background: #827c75 no-repeat;
	border-radius: 50%;
	background-size: 100%;
	background-position: center -20px;
	//border: 3px solid #fff;
	//box-shadow: inset 0 0 6px rgba(0,0,0,.5), 0 0 2px rgba(0,0,0,.3);
	margin: 0 8px;
	font: normal normal normal 14px/1 FontAwesome;
	color: #fff;
	font-size: 26px;
	padding: 4px 0;
	text-align: center;
	//text-shadow: 0 0 2px rgba(0,0,0,.3);
}

[data-slideid="_6_1_a"] .small-slide-pagination span:before {
	content: "\f104";
	margin-left: -3px;
}

[data-slideid="_6_1_a"] .small-slide-pagination span:last-child:before {
	content: "\f105";
	margin-left: 3px;
}

[data-slideid="_6_1_a"] .small-slide-pagination span:last-child {
	float: right;
}

[data-slideid="_6_1_a"] .small-slide-pagination span.swiper-active-switch {
	opacity: .2;
}

[data-efficacy="1"] .slide-1 {
	background-image: url(../4/p_6_1_a_i_1.png);
}

[data-efficacy="1"] .slide-2 {
	background-image: url(../4/p_6_1_a_i_2.png);
}

[data-efficacy="2"] .slide-1 {
	background-image: url(../4/p_6_1_a_ii_1.png);
}

[data-efficacy="2"] .slide-2 {
	background-image: url(../4/p_6_1_a_ii_2.png);
}

[data-efficacy="1"] .efficacy-2 {
	display: none;
}

[data-efficacy="2"] .efficacy-1 {
	display: none;
}



[data-slideid="_6_2_a"] .content {
	background-image: url(../4/p_6_2_a.jpg);
}

[data-doubleresource] {
	box-shadow: 0 0 3px rgba(0,0,0,.4);
}

.choose-resource {
	width: 50%;
	height: 100%;
	border: 1px solid #000;
	background: #999;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	float: left;
	padding: 1px;
	line-height: normal;
}

.choose-resource + .choose-resource {
	border-left: none;
}

[data-slideid="_7_1_a"] .content {
  background-image: url(../4/p_7_1_a.png);
}
[data-slideid="_7_1_a"] .content #image-swap-container.swap-1 {
  background-image: url('../4/p_7_1_a_1.png');
  background-size: 100%;
}
[data-slideid="_7_1_a"] .content #image-swap-container.swap-2 {
  background-image: url('../4/p_7_1_a_2.png');
  background-size: 100%;
}
[data-slideid="_7_1_a"] .content #image-swap-container.swap-3 {
  background-image: url('../4/p_7_1_a_3.png');
  background-size: 100%;
}
[data-slideid="_7_1_a"] .content #image-swap-container.swap-4 {
  background-image: url('../4/p_7_1_a_4.png');
  background-size: 100%;
}



[data-slideid="_8_1_a"] .content {
  background-image: url(../4/p_8_1_a.png);
}


